- if flash[:notice] || flash[:error] || flash[:alert] || flash[:success]
  .append-bottom
    - if flash[:alert]
      .alert
        = flash[:alert]

    - if flash[:notice]
      .notice
        = flash[:notice]

    - if flash[:error]
      .error
        = flash[:error]

    - if flash[:success]
      .error
        = flash[:success]
