/************************/
/** Fieldnotes display **/
.fieldnote-show 				{ font-size: 1.5em; padding-top: 2em; }
.fieldnote-show	.content		{ padding-left: 1em;  }
.fieldnote-show .sidebar		{ padding-right: 1em; border-right: 2px solid #eee;}
.fieldnote-show .sidebar .box	{ background:	#eee; }
.fieldnote-show .sidebar .date	{ font-weight: bold; }

.fieldnote-show .sidebar .attachments .title { border-bottom: 1px solid #999; font-size: 0.9em; font-weight: bold; margin-bottom: 1em; padding-bottom: 4px;  }
.fieldnote-show .sidebar .attachments .attachment 			{ margin-bottom: 1em; }
.fieldnote-show .sidebar .attachments .attachment .icon img	{ width: 35px; height: 35px; }
.fieldnote-show .sidebar .attachments .attachment .url		{ font-size: 12px; font-weight: bold; }


/*********************/
/** Fieldnotes Form **/
.fieldnote-form { font-size: 1.5em; line-height: 36px; text-align: left; }
.fieldnote-form input[type=submit] { font-size: 36px; height: 40px; }
.fieldnote-form textarea	{ width: 600px; height: 250px; font-size: 18px; }
.fieldnote-form select		{ font-size: 24px; height: 30px; }
.fieldnote-form .left-column-label { text-align: right; }

/*********************************/
/** Fieldnote attachment upload **/
.fieldnote-attachment-add				a	{ color: green; text-decoration: none; font-weight: bold; }

.fieldnote-attachment-upload				{ padding: 2px; border-bottom: 2px dotted #999;; }

.fieldnote-attachment-upload .delete		{ font-size: 0.9em; }
.fieldnote-attachment-upload .delete	a	{ color: red; text-decoration: none; font-weight: bold;}


.fieldnote-attachment-upload .file-field	{}
.fieldnote-attachment-upload .thumb			img	{ width: 25px; height: 25px;}